@import "./reset.css";
@import "./variables.scss";
@import "./typography.scss";
@import "./swiper.css";



html {
  box-sizing: border-box;
  font-size: 62.5%;

  line-height: 1.1;
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: $color-light;
  color: $color-light-gray;
  font-family: $font-primary;
  line-height: 1.4;
  letter-spacing: 0.03rem;
}

img {
  width: 100%;
  object-fit: contain;
  height: auto;
}

.video {
  max-width: 160rem;
  margin: 0 auto;

  iframe {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
  }
}

.html5-video-player a,
.ytp-impression-link {
  display: none !important;
}




// Wrapper

.wrapper {
  width: 100%;
  position: relative;

  &--curved-top {
    width: 100%;
    /* Make the div span 100% of the width */
    padding: 50rem 0 0 0;
    margin-top: -40rem;
    /* Maintain padding */
    background-color: transparent;
    text-align: center;
    position: relative;
    overflow: hidden;

    h2 {
      color: $color-light;
    }

    p {
      color: $color-lighter;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-primary;
      clip-path: ellipse(100% 50% at 50% 100%);
      z-index: -1
    }
  }



  &--curved-bottom {
    width: 100%;
    /* Make the div span 100% of the width */
    padding: 0 0 50rem 0;
    margin-bottom: -40rem;
    /* Maintain padding */
    background-color: transparent;
    text-align: center;
    position: relative;
    overflow: hidden;

    h2 {
      color: $color-light;
    }

    p {
      color: $color-lighter;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-primary;
      clip-path: ellipse(100% 50% at 50% 0);
    }
  }
}

// Container

.container {
  display: grid;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 12rem 2rem;

  &--full {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &--smaller {
    max-width: 110rem;
  }

  &--smallest {
    max-width: 60rem;
  }

  &--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--no-padding-top {
    padding-top: 0;
  }

  &--no-padding-bottom {
    padding-bottom: 0;
  }

  &--half-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }



  @media only screen and (max-width: $bp-small) {
    padding: 5rem 2rem;
  }

  &--padding-left-right {
    padding-left: 5rem;
    padding-right: 5rem;

    @media only screen and (max-width: $bp-small) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }


  &--curve-top {
    width: 100%;
    /* Make the div span 100% of the width */
    padding: 6rem 5rem;
    /* Maintain padding */
    background-color: transparent;
    text-align: center;
    position: relative;
    overflow: hidden;

    h2 {
      color: $color-light;
    }

    p {
      color: $color-lighter;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-primary;
      clip-path: ellipse(100% 50% at 50% 100%);
    }
  }



  &--curve-bottom {
    width: 100%;
    /* Make the div span 100% of the width */
    padding: 6rem 5rem;
    /* Maintain padding */
    background-color: transparent;
    text-align: center;
    position: relative;
    overflow: hidden;

    h2 {
      color: $color-light;
    }

    p {
      color: $color-lighter;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-primary;
      clip-path: ellipse(100% 50% at 50% 0);
    }
  }





  &--blue-background-rounded {
    max-width: 116rem;
    border-radius: 4rem;
    padding-right: 6rem;
    padding-left: 6rem;
    background-color: $color-primary;
    margin-top: 12rem;

    h2,
    h3,
    h4 {
      color: $color-light;
    }

    p {
      color: $color-lighter;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 5rem 2rem;
    }
  }

  &--blue-background-rounded-top {
    max-width: 116rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    padding-right: 6rem;
    padding-left: 6rem;
    background-color: $color-primary;
    margin-top: 12rem;

    h2,
    h3,
    h4 {
      color: $color-light;
    }

    p {
      color: $color-lighter;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 5rem 2rem;
    }
  }

  &--blue-background-rounded-bottom {
    max-width: 116rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding-right: 6rem;
    padding-left: 6rem;
    background-color: $color-primary;

    h2,
    h3,
    h4 {
      color: $color-light;
    }

    p {
      color: $color-lighter;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 5rem 2rem;
    }
  }

  &--blue-background {
    max-width: 116rem;
    padding-right: 6rem;
    padding-left: 6rem;
    background-color: $color-primary;

    h2,
    h3,
    h4 {
      color: $color-light;
    }

    p {
      color: $color-lighter;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 5rem 2rem;
    }
  }

}


// Grid

.grid-col-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


// Button and link


a {
  color: $color-links;
  font-family: $font-primary;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.5;
}

a:link {
  font-family: $font-primary;
  color: $color-links;
}

/* visited link */
a,
a:visited,
a:hover,
a:active {}


.btn {
  background-color: $color-links;
  border-radius: 5rem;
  padding: 1.5rem 5.4rem;
  color: $color-light;
  font-size: 1.5rem;
  display: block;
  line-height: 1.8rem;
  width: fit-content;
  cursor: pointer;
  font-weight: 300;
  text-transform: uppercase;

  &:hover {
    opacity: .8;
  }

  &--small {
    font-size: 1.3rem;
    padding: 1.1rem 3.6rem;
    line-height: 1.3;
  }

}


// Padding 0

.p-lr-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-tb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

// Padding 2rem

.p-tb-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

// Padding top and bottom

.p-tb-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 2rem;
    padding-bottom: 2rem;

  }
}

.p-tb-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 5rem;
    padding-bottom: 5rem;

  }
}

.p-tb-20 {
  padding-top: 20rem;
  padding-bottom: 20rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 10rem;
    padding-bottom: 10rem;

  }
}

// Padding top

.pt-5 {
  padding-top: 5rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 2rem;

  }
}

.pt-10 {
  padding-top: 10rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 5rem;

  }
}

.pt-20 {
  padding-top: 20rem;

  @media only screen and (max-width: $bp-small) {
    padding-top: 10rem;

  }
}

// Padding bottom

.pb-5 {
  padding-bottom: 5rem;

  @media only screen and (max-width: $bp-small) {
    padding-bottom: 2rem;

  }
}

.pb-10 {
  padding-bottom: 10rem;

  @media only screen and (max-width: $bp-small) {
    padding-bottom: 5rem;

  }
}

.pb-12 {
  padding-bottom: 12rem;

  @media only screen and (max-width: $bp-small) {
    padding-bottom: 5rem;

  }
}

.pb-20 {
  padding-bottom: 20rem;

  @media only screen and (max-width: $bp-small) {
    padding-bottom: 10rem;

  }
}





.programs {

  .hero--default h1,
  .hero--default h2 {
    max-width: 50rem;
  }
}





// Components

@import "./components/Navigation.scss";

@import "./components/Header.scss";
@import "./components/Footer.scss";

@import "./components/Hero.scss";
@import "./components/Cards.scss";
@import "./components/HeadingText.scss";
@import "./components/TextImage.scss";
@import "./components/slider.scss";
@import "./components/Shop.scss";
@import "./components/Forms.scss";