.form {

    input[type="text"],
    input[type="email"],
    textarea,
    select {
        width: 100%;
        border: 1px solid #ccc;
        margin: 1rem;
        padding: 1rem 1.5rem;
    }

    textarea {
        min-height: 20rem;
    }

    .btn {
        margin-top: 2rem;
        margin-left: 1rem;
    }
}