.hero {

    h1,
    h2 {
        max-width: 110rem;
        font-size: 10rem;
    }

    &--home {
        &__text {
            padding: 8rem 0 0 0;

            p {
                max-width: 95%;
                margin-bottom: 0;
            }

            ul {
                text-align: right;
                display: inline-block;
                align-self: end;

                li {
                    text-align: right;
                    display: inline-block;
                    margin-left: 2rem;
                }
            }
        }
    }
}