.default-slider {
    .grid-col-2 {

        align-items: center;
        justify-items: start;
    }

    .swiper {
        max-width: 100%;
    }

    h2 {
        max-width: 35rem;
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    p {
        max-width: 50rem;
    }

    img {
        width: 100%;
        height: auto
    }
}